/* bright accent colors
===================
#242582 blue
#553d67 purple
#f64c72 pink
#99738e grayish
#2f2fa2 lighter blue */


/* new exercise page */
.new-ex-row {
    background-color: #553d67;
    padding: 3em;
    border: 3px solid #99738e;
    border-radius: 10px;
}
/* All exericises page */
.exs-div {
    margin-top: 5em;
}
.ex-row {
    background-color: #99738e;
    border: 3px solid #f64c72;
    border-radius: 10px;
}
.new-ex-btn {
    background-color: #f64c72;
    margin: 1em;
    width: 15em;
}





/* body styles */
body {
    background-color: #242582;
    color: white;
}
/* navbar styles */
.nav-custom {
    background-color: #f64c72;
}
.brand-name {
    padding-left: 15%;
}
.r-padding {
    padding-right: 10em;
}
.link-nav {
    color: white !important;
    width: 7em;
    text-align: center;
} 
/* landing page styles */
.landing-div {
    margin-top: 3%;
}
html, body, #root, .carousel, .image-center {
    height: 100%;
    margin: 0;
    width: 100%;
}
.image-slide {
    height: 100%;
    width: 100%;
    transition: background-image .3s ease-in-out;
    align-items: center;
}
.image-center {
    align-items: center;
}
.content {
    align-items: center;
    text-align: center;
}
.slide-arrow {
    color: #f64c72;
    cursor: pointer;
    font-size: 3rem;
    position: fixed;
    top: 50%;
}
.slide-arrow.right {
    right: 1rem;
}
.slide-arrow.left {
    left: 1rem;
}
.landing-heading {
    color: white;
    padding-bottom: 3%;
}
.landing-btn {
    background-color: #242582;
    width: 35%;
    color: white;
    font-size: large;
}
/* login and register pages */
.form-div {
    margin-top: 12%;
}
.form-content {
    padding: 4em;
    border: 2px solid #99738e;
    background-color: #553d67;
    color: white;
}
.form-button {
    background-color: #2f2fa2;
    width: 10em;
    color: white;
}
.form-box {
    border: 2px solid #f64c72;
}
.form-name{
    border-bottom: 1px solid #f64c72;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

/* loading page */
.loader {
    margin: 15em 0em 0em 40em !important;
    height: 200px;
    width: 200px;
    margin: auto;
    color: #f64c72;
}
/* Workouts page styles */
.workouts-div {
    margin-top: 5em;
    color: white;
}
.jumbotron {
    background-color: #553d67;
    border: 3px solid #99738e;
}
.jumbo-content {
    padding: 3em;
}
.wo-heading {
    font-size: 63px;
}
.wo-p {
    font-size: 21px;
}
.btn-add-wo {
    background-color: #f64c72;
    color: white !important;
    width: 15em;
    font-weight: 500;
}
.wos-container {
    border: 3px solid #f64c72;
    border-radius: 10px;
    background-color: #99738e;
}
.wo-card {
    background-color: #2f2fa2;
    padding: .5em;
    margin: 15px 0;  
    border: 3px solid #553d67;
    border-radius: 10px;  
    color: white;
}
.wo-sm-btn {
    background-color: #f64c72;
    width: 7em;
    color: white;
}
/* individual workout page */
.wo-div {
    margin-top: 5em;
}
.wo-general {
    background-color: #553d67;
    border: 3px solid #99738e;
    padding: 2em 0 2em 5em;
    color: white;
    border-radius: 10px;
    margin-bottom: 3em;
}
.ex-list {
    background-color: #99738e;
    padding: 1em;
    border: 3px solid #f64c72;
    border-radius: 10px;
}
.ex-one {
    background-color: #2f2fa2;
    margin-top: 1em;
    border: 3px solid #553d67;
    border-radius: 10px;
    padding: 2em 0 2em 5em;
}
.ex-btn {
    background-color: #f64c72;
    width: 7em;
    color: white;
}
/* individual exercise page */
.ex-div {
    margin-top: 5em;
}
.ex-content {
    background-color: #553d67;
    border: 3px solid #99738e;
    border-radius: 10px;
    padding: 5em;
    color: white;
}
.ex-author-link {
    color: white;
}
.ex-author-link:hover {
    color: white;
    text-decoration: none !important;
}
.ex-author-link:focus {
    color: white;
    text-decoration: none !important; 

}
/* User profile page styles */
.user-div {
    margin-top: 5em;
}
.user-jumbo {
    padding: 6em;
    border-radius: 10px;
}
.user-row {
    background-color: #99738e;
    border: 3px solid #f64c72;
    border-radius: 10px;
}
/* New workout page */
.new-ex-div {
    margin-top: 5em;
    background-color: #553d67;
    padding: 3em;
    border: 3px solid #99738e;
    border-radius: 10px;
}
.add-ex-h {
    padding-bottom: .25em;
    margin-bottom: 1em;
    border-bottom: 3px solid #99738e;
}

.new-ex-left {
    border: 3px solid #f64c72;
    background-color: #99738e;
    padding: 2em;
}
.new-ex-right {
    background-color: #2f2fa2;
    border: 3px solid #f64c72;
    padding: 2em;
}
.new-wo-h {
    text-align: center;
}








