/* colors
========================
mindnight blue: #0C2340
lake blue: #236192
moonlight grey: #9EA2A2
aurora green: #78BE20
========================
body styles */
body {
    background-color: #0C2340;
    color: white;
}
/* all button style */
.workout-btn:hover {
    color: #78BE20;
}
.workout-btn:focus {
    color: #78BE20;
}
.workout-btn-inverse:hover{
    color: #0C2340;
}
.workout-btn-inverse:focus{
    color: #0C2340;
}
/* navbar styles */
.nav-custom {
    background-color: #236192;
    border-bottom: 3px solid #9EA2A2;
}
.brand-name {
    padding-left: 15%;
}
.r-padding {
    padding-right: 10em;
}
.link-nav {
    color: white !important;
    width: 7em;
    text-align: center;
} 
/* Workouts page styles */
.workouts-div {
    margin-top: 5em;
    color: white;
}
.jumbotron {
    background-color: #236192;
    border: 3px solid  #78BE20;
    height: 20em;
}
.jumbo-content {
    padding: 3em;
}
.wo-heading {
    font-size: 63px;
}
.wo-p {
    font-size: 21px;
}
.btn-add-wo {
    background-color: #0C2340;
    color: white;
    width: 15em;
    font-weight: 500;
}
.wos-container {
    padding: 1.5em;
    border: 3px solid #78BE20;
    border-radius: 10px;
    background-color: #236192;
}
.wo-card {
    background-color: #9EA2A2;
    padding: .5em;
    margin: 15px 0;  
    border: 3px solid #0C2340;
    border-radius: 10px;  
    color: #0C2340;
}
.wo-sm-btn {
    background-color: #236192;
    width: 7em;
    color: white;
}
.wo-search {
    display: flex;
    justify-content: space-between;
}
.wo-search-bar {
    margin-right: 1em;
    height: 2.5em;
}
.wo-search-btn {
    background-color: #0C2340;
    color: white;
    width: 7em;
    height: 2.5em;
}
/* New workout page */
.card-img {
    border-radius: 10px;
    border: 2px solid #9EA2A2;
}
.add-btn-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-ex-name {
    display: flex;
    align-items: center;
}
.new-ex-div {
    margin-top: 5em;
    background-color: #236192;
    padding: 3em;
    border: 3px solid #78BE20;
    border-radius: 10px;
}
.add-ex-h {
    padding-bottom: .25em;
    margin-bottom: 1em;
    border-bottom: 3px solid #78BE20;
}
.new-ex-left {
    border-right: 3px solid #0C2340;
}
.new-wo-h {
    text-align: center;
    padding: 1em 0 .25em 0;
    margin: 0 4em .5em 4em;
    border-bottom: 3px solid #0C2340;
}
.new-wo-ex-btn {
    background-color: #0C2340;
    color: white;
    margin-left: 1em;
}
.new-wo-search-btn {
    background-color: #78BE20;
    color: white;
}
.new-wo-container {
    border: 3px solid #0C2340;
    border-radius: 10px;
    height: 800px;
    overflow-y: scroll;
}
.new-wo-searchBar {
    height: 35px;
    width: 175px;
    border: 2px solid #0C2340;
    margin-right: 10px;
}
.new-wo-search-div {
    padding: .5em 0;
}
.new-wo-search-h {
    padding-top: 1em;
}
.new-ex-card {
    border-bottom: 2px solid #78BE20;
    margin: .5em;
    padding: .5em;
}
.new-wo-ex-title {
    color: white !important;
}
.new-wo-ex-title:hover{
    color: #0C2340 !important;
    text-decoration: none;
}
.add-ex {
    font-size: 40px;
}
.invisible-ex {
    opacity: 0;
    cursor: default;
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
}
.reps-sets {
    width: 40%;
    border: 2px solid #0C2340;
    margin-right: .25em;
}
.reps-label {
    font-size: 20px;
    padding-right: .25em;
}
.btn-submit-wo {
    background-color: #0C2340;
    color: white;
}
.submit-wo-div {
    padding-top: 1em;
}
.file-input {
    background-color: #236192;
    border: none;
    color: white;
}
.info-group {
    display: flex;
    justify-content: space-evenly;
}
/* login and register pages */
.form-div {
    margin-top: 12%;
}
.form-content {
    padding: 4em;
    border: 2px solid #78BE20;
    background-color: #236192;
    color: white;
    border-radius: 10px;
}
.form-button {
    background-color: #0C2340;
    width: 10em;
    color: white;
}
.form-box {
    border: 2px solid #78BE20;
}
.form-name{
    border-bottom: 1px solid #78BE20;
    padding-bottom: .5em;
    margin-bottom: 1em;
}
/* individual workout page */
.wo-ex-picture {
    height: 100px;
    border-radius: 10px;
    border: 2px solid #0C2340;
}
.img-div {
    display: flex;
    justify-content: center;
}
.wo-div {
    margin-top: 5em;
}
.wo-general {
    background-color: #236192;
    border: 3px solid #78BE20;
    padding: 2em 0 2em 5em;
    color: white;
    border-radius: 10px;
    margin-bottom: 3em;
}
.ex-list {
    background-color: #236192;
    padding: 1em;
    border: 3px solid #78BE20;
    border-radius: 10px;
}
.ex-one {
    margin: 1em 2em;
    padding: 1em 0;
    border-bottom: 3px solid #78BE20;
}
.wo-reps-sets {
    background-color: #9EA2A2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #0C2340;
    border-radius: 20px;
}
/* User profile page styles */
.profile-pic {
    border-radius: 50px;
    border: 3px solid #78BE20;
}
.user-div {
    margin-top: 5em;
}
.user-jumbo {
    border-radius: 10px;
}
.user-row {
    background-color: #236192;
    border: 3px solid #78BE20;
    border-radius: 10px;
}
/* new exercise page */
.new-ex-row {
    background-color: #236192;
    padding: 3em;
    border: 3px solid #78BE20;
    border-radius: 10px;
}
/* All exericises page */
.exs-div {
    margin-top: 5em;
}
.ex-row {
    background-color: #236192;
    border: 3px solid #78BE20;
    border-radius: 10px;
}
.new-ex-btn {
    background-color: #0C2340;
    margin: 1em;
    width: 15em;
    color: white;
}
/* landing page styles */
.landing-div {
    margin-top: 3%;
}
html, body, #root, .carousel, .image-center {
    height: 100%;
    margin: 0;
    width: 100%;
}
.image-slide {
    height: 100%;
    width: 100%;
    transition: background-image .3s ease-in-out;
    align-items: center;
}
.image-center {
    align-items: center;
}
.content {
    align-items: center;
    text-align: center;
}
.slide-arrow {
    color: #0C2340;
    cursor: pointer;
    font-size: 3rem;
    position: fixed;
    top: 50%;
}
.slide-arrow.right {
    right: 1rem;
}
.slide-arrow.left {
    left: 1rem;
}
.landing-heading {
    color: white;
    padding-bottom: 3%;
}
.landing-btn {
    background-color: #0C2340;
    width: 35%;
    color: white;
    font-size: large;
}
/* loading page */
.loader {
    margin: 15em 0em 0em 40em !important;
    height: 200px;
    width: 200px;
    margin: auto;
    color: #78BE20;
}
/* individual exercise page */
.ex-picture {
    width: 70%;
    border-radius: 10px;
    border: 3px solid #9EA2A2;
}
.ex-div {
    margin-top: 5em;
}
.ex-content {
    background-color: #236192;
    border: 3px solid #78BE20;
    border-radius: 10px;
    padding: 3em;
    color: white;
}
.ex-author-link {
    color: white;
}
.ex-author-link:hover {
    color: #0C2340;
    text-decoration: none !important;
}
.ex-author-link:focus {
    color: #0C2340;
    text-decoration: none !important; 
}
.footer-div {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #9EA2A2;
    padding: 1em 0;
}
.footer-h {
    color: #78BE20;
    font-weight: 700;
}
.footer-icon {
    font-size: 30px;
    padding: 0 .5em;
    color: #78BE20;
}







