/* xs */
@media (max-width: 576px){
    .square{
        width: 70%;
    }
    .landing-heading {
        padding: 1.5em 1em 0 1em;
        font-size: 32px;
    }
    .landing-p {
        padding: 1em 1.5em 1.5em 1.5em;
        font-size: 18px;
    }
    .landing-btn {
        margin-left: 10%;
        width: 80%;
    }

}
/* sm */
@media (min-width: 576px){
    .square{
        width: 60% 
    }
    .landing-heading {
        padding: 1.5em 1em 0 1em;
        font-size: 32px;
    }
    .landing-p {
        padding: 1em 1.5em 1.5em 1.5em;
        font-size: 18px;
    }
    .landing-btn {
        margin-left: 10%;
        width: 80%;
    }
}
/* md */
@media (min-width: 768px) {
    .square{
        width: 50%;
    }
    .landing-heading {
        padding: 1.5em 1em 0 1em;
        font-size: 34px;
    }
    .landing-p{
        padding: 1em 1.5em 1.5em 1.5em;
        font-size: 18px;
    }
    .landing-btn {
        width: 70%;
        margin-left: 15%;
    }
}

/* lg */
@media (min-width: 992px){
    .square{
        width: 40%;
    }
    .landing-heading {
        padding: 1.5em 1em 0 1em;
        font-size: 36px;
    }
    .landing-p {
        padding: 1em 1.5em 1.5em 1.5em;
        font-size: 18px;
    }
    .landing-btn {
        width: 60%;
        margin-left: 20%;
    }
}
/* xl */
@media (min-width: 1200px){
    .square {
        width: 35%;
    }
    .landing-heading {
        padding: 1.5em 1em 0 1em;
        font-size: 40px;
    }
    .landing-p{
        padding: 1em 2em 2em 1.5em;
        font-size: 20px;
    }
    .landing-btn {
        margin-left: 20%;
        width: 60%;
    }
}

/* xs */
@media (max-height:600px){
    .landing-heading {
        padding: .5em;
        font-size: 24px;
    }
    .landing-p {
        padding: .5em;
        font-size: 16px;
    }
    .landing-btn {
        width: 100%;
        margin: 0;
    }
}
/* sm */
@media (min-height:600px){
    .landing-heading {
        padding: .5em;
        font-size: 28px;
    } 
    .landing-p {
        padding: .5em;
        font-size: 18px;
    }
    .landing-btn {
        width: 90%;
        margin-left: 5%;
    }
}
/* md */
@media (min-height:650px){
    .landing-heading {
        padding: .75em;
        font-size: 30px;
    } 
    .landing-p {
        padding: .5em;
        font-size: 18px;
    }
}
/* lg */
@media (min-height:750px){
    .landing-heading {
        padding: .75em;
        font-size: 40px;
    }
    .landing-p {
        padding: .5em 1.5em .5em 1.5em;
        font-size: 20px;
    }
}
/* xl */
@media (min-height:850px){
    .landing-heading {
        padding: 1.5em;
        font-size: 40px;
    }
    .landing-p {
        padding: 2em;
        font-size: 20px
    }
}