/* navbar styles */
.nav-custom {
    background-color: #236192;
    border-bottom: 3px solid #9EA2A2;
}
.brand-name {
    padding-left: 15%;
}
.r-padding {
    padding-right: 10em;
}
.link-nav {
    color: white !important;
    width: 7em;
    text-align: center;
} 

/* side navabr styles */
.left-nav-item {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    border: none;
}
.left-nav-link {
    color: #0C2340;
    font-weight: 500;
}
.left-nav-link:hover {
    color: #78BE20;
    text-decoration: none;
}
#navbar-left {
    padding-bottom: 2em;
}
.li-icon {
    padding: 0 1em;
}
.list-item-btn {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}
