/* new exercise page */
.new-ex-row {
    background-color: #236192;
    padding: 1em;
    border-radius: 10px;
}
.new-ex-information {
    display: flex;
    justify-content: center;
}
.new-ex-item {
    font-size: 11px;
    margin: 1em .5em 1em .5em;
}
.new-ex-form {
    width: 70%;
}
.new-ex-formm {
    background-color: #236192;
    padding: 2em;
}
.new-ex-col {
    border-radius: 10px;
}