/* colors
========================
mindnight blue: #0C2340
lake blue: #236192
moonlight grey: #9EA2A2
aurora green: #78BE20
========================
body styles */
body {
    background-color: white;
    color: #0C2340;
    overflow: hidden;
    
}






















