/* User profile page styles */
.dropdown-btn {
    background-color: #236192;
    border: none;
    font-size: 25px;
}
.dropdown-btn:hover{
    background-color: #236192;
}
.dropdown-btn:focus {
    background-color: #236192;
}

.user-div {
    margin-top: 5em;
}
.user-jumbo {
    border-radius: 10px;
    background-color: #236192;
    padding: 2em;
    margin-bottom: 2em;
    border: 3px solid #78BE20;
}
.user-row {
    background-color: #236192;
    border: 3px solid #78BE20;
    border-radius: 10px;
}
.user-options {
    margin-top: 5em;
}
.user-col {
    background-color: #236192;
    padding: 2em;
    border-radius: 10px;
}
.all-user-wos {
    padding-top: 4em;
}
.workouts-exercises-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 8px -5px #757575;
    height: 50px;
}
.wo-ex-choose {
    font-size: 20px;
    padding: 5px;
}
.wo-ex-choose:hover,
.wo-ex-choose:focus {
    cursor: pointer;
    background-color: rgba(0,139,238,0.2) !important;
    color: #008BEE;
    
}

.active-style{
    color: #008BEE;
}
.user-wos-row {
    width: 100%;
}
.user-heading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.image-cropper {
    height: 100%;
    position: relative;
    border-radius: 50%;
}
.profile-pic {
    box-shadow: 0 0 8px #757575;
    border-radius: 50%;
}
.user-pro-name{
    color: #008BEE;
}
.user-pro-username:hover {
    color: #008BEE;
    text-decoration: none;
}
.user-pro-username {
    color: #5B5B5B;
    text-decoration: none;
    margin-bottom: 30px;
}
.user-edit-btn {
    background-color: #008BEE;
    color: white;
    margin-top: 2em;
    width: 50%;
}
.user-edit-btn:hover,
.user-edit-btn:focus {
    color: white;
}
