/* individual workout page */
.wo-ex-picture {
    height: 100px;
    border-radius: 10px;
    border: 2px solid #0C2340;
}
.img-div {
    display: flex;
    align-items: center;
}
.wo-div {
    margin-top: 4em;
}
.ex-information {
    font-size: 15px;
}

.wo-general {
    background-color: #236192;
    padding: 2em;
    color: white;
    border-radius: 10px;
    margin-bottom: 3em;
}
.ex-one {
    padding: 1em ;
    border-top: 2px solid #CFCFCF;
}
.wo-reps-sets {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sets {
    margin-right: 2em;
}
.wo-ex-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ind-wo-author {
    padding-top: 50px;
}
.ind-wo-ex-img {
    width: 100%;
    height: 130px;
}
.ind-wo-ex-name {
    color: #008BEE;
}
.ind-wo-ex-name:hover,
.ind-wo-ex-name:focus {
    color: #008BEE;
    text-decoration: none;
}
.ind-wo-ex-rs {
    font-size: 20px;
    margin: 0 auto;
}
.wo-ex-info {
    margin: auto;
    text-align: center;
}
