/* Workouts page styles */
.workouts-div {
    margin-top: 5em;
    color: white;
}
.all-wo-col {
    background-color: #236192;
    padding: 2em;
    border-radius: 10px;
}
.wo-heading {
    font-size: 63px;
}
.wo-p {
    font-size: 21px;
}
.btn-add-wo {
    background-color: #0C2340;
    color: white;
    width: 15em;
    font-weight: 500;
}
.wos-container {
    padding: 1.5em;
    border: 3px solid #78BE20;
    border-radius: 10px;
    background-color: #236192;
}
.wo-card {
    background-color: white;
    margin: 15px 0;  
    border-radius: 10px;  
    color: #5B5B5B;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    box-shadow: 0 0 8px #757575;
}
.wo-card:hover {
    box-shadow: 0 0 8px 2px #5b5b5b;
}
.wo-sm-btn {
    background-color: #236192;
    width: 7em;
    color: white;
}
.all-wo-h {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    padding-bottom: 2em;
    border-bottom: 2px solid #CFCFCF;
    padding-top: 1.5em;
}
#wo-search-bar {
    height: 40px;
    border: 2px solid #008BEE !important;
}
.all-wo-h1 {
    margin-left: 10px;
    margin-right: 2em;
    font-weight: 500;
}
.all-wo-img {
    float: left;
    width: 100%;
    height: 200px;
    background-size: cover;
}
.card-body {
    width: 100%;
    border-top: 2px solid #CFCFCF;
    align-items: center;
    background-color: white;
}
.all-wo-author {
    font-size: 14px;
    color: #5B5B5B
}
.all-wo-author:hover{
    color: #008BEE;
    text-decoration: none;
}
.all-wo-icon {
    color: #008BEE;
    margin-right: .5em;
}
.card-title {
    color: #5b5b5b;
    font-weight: 600;
    font-size: 16px;
}
.card-title:hover {
    color: black
}
.all-wo-title-link:hover {
    text-decoration: none;
}
.right-ws {
    border-left: 2px solid #CFCFCF;
    height: 100%;
}
.all-wo-main-col {
    border-right: 2px solid #CFCFCF;
    height: 100%;
}
.all-wo-row {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 95%;
    border-right: 3px solid #CFCFCF;
}
.wo-div {
    height: 100%;
    height: calc(100% - 150px);
    box-sizing: border-box;
} 

@media (max-width: 420px) {
    .all-wo-h1 {
        font-size: 1.4rem;
        margin-right: 15px;
    }
    #wo-search-bar {
        width: 48%;
    }
    .btn-search-icon {
        width: 30px;
        margin-left: -30px;
        font-size: 14px;
    }
}


